@import '../../styles/common.scss';
.list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;

  > li:first-child {
    margin-right: 300px;
    font-size: 1.5rem;
    color: $mainBlue;
  }
}
.listItem {
  margin: 0 20px;
  // font-size: 1.2rem;
}
.actualLink {
  background: green;
}
.link {
  position: relative;
  overflow: hidden;

  span {
    display: block;
    transition: transform 300ms ease;
  }
  &:after {
    content: attr(data-replace);
    // display: inline;
    position: absolute;
    transition: top 300ms ease;
    top: 100%;
    left: 0;
    right: 0;
    text-align: center;
  }

  // animation when hovered
  &:hover {
    span {
      transform: translateY(-100%);
    }

    &:after {
      top: 0;
    }
  }
}
