@import 'common.scss';

//* variables
:root {
  --mainDark: #1e2023;
  --mainLight: #fff;
  --mainBlue: #628ef3;
  --mainRed: #f87185;
  // --mainLightBlue: #e5e6ed;
}
//* variables

html,
body {
  padding: 0;
  margin: 0;
  font-size: 18px;
}

body {
  flex-direction: column;
  display: flex;
  min-height: 100vh;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: #fefae0;
    background: #1b1e20;
  }
}

[data-theme='dark'] body {
  background: var(--mainDark);
  color: var(--mainLight);
}
[data-theme='light'] body {
  background: var(--mainLight);
  color: var(--mainDark);
}
