@import '../../../styles/common.scss';

.listItem {
  margin: 0 20px;
  @include media-query-1024 {
    display: none;
    background: red;
  }
}

.link {
  position: relative;
  overflow: hidden;
  height: 30px;
  span {
    display: block;
  }
}
.link:hover .main,
.link:hover .second {
  transform: translate(0, -27px);
}

.main,
.second {
  transition: transform 0.3s ease-in-out;
}

.ul {
  &:nth-child(2) {
    background-color: red;
  }
}
