.wrapper {
  width: 100%;
  margin: 1rem 0;
  margin-top: auto;
}
.list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.listItem {
  margin: 0 10px;
  font-size: 1.2rem;
}
