@import '../../styles/common';
.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.main {
  width: 50%;
  font-size: 20px;
  code {
    border-radius: 5px;
  }
  h2 {
    font-size: 1.8rem;
    color: $mainBlue;
    margin: 1rem 0;
  }
}
.title {
  color: $mainRed;
  font-size: 2rem;
  margin: 2rem 0;
}
.image {
  border-radius: 10px;
  overflow: hidden;
  line-height: 0;
}

.datePublished {
  margin-bottom: 1rem;
  background: cornflowerblue;
  display: inline-block;
  padding: 0.4rem;
  border-radius: 5px;
}
