@import '../../styles/common';
.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.main {
  max-width: 960px;
  font-size: 20px;
  code {
    border-radius: 5px;
  }
  h2 {
    font-size: 1.8rem;
    color: $mainBlue;
    margin: 1rem 0;
  }
}
