@import '../../styles/common';
.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.main {
  width: 50%;
  font-size: 20px;
}
.title {
  color: $mainRed;
  font-size: 2rem;
  margin: 2rem 0;
}
.image {
  border-radius: 20px;
  overflow: hidden;
  line-height: 0;
}
