@import './styles/common.scss';

.main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    'welcome spline'
    'latestPost latestPost';
}

.welcomeSection {
  // background: red;
  grid-area: welcome;
  // margin: 5rem 0 0 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h1 {
    margin-left: -30px;
    font-weight: 400;
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }
  h2 {
    font-weight: 400;
    font-size: 1.5rem;
  }
}
.bold {
  font-weight: bold;
}
.blue {
  color: $mainBlue;
}
.red {
  color: $mainRed;
}
.strikethrough {
  text-decoration: line-through;
}

.spline {
  grid-area: spline;
  flex-grow: 1;
  height: 700px;
}

.latestPost {
  grid-area: latestPost;
  display: flex;
  justify-content: center;
}
