@import './styles/common.scss';

.main {
  &Right {
    position: absolute;
    width: 100%;

    h1 {
      font-weight: 400;
      position: absolute;
      left: 10%;
      top: 10%;
      z-index: 2;
      font-size: 2.5rem;
    }
    h2 {
      font-weight: 400;
      position: absolute;
      left: 10%;
      top: 45%;
      z-index: 2;
      font-size: 1.5rem;
    }
  }
}

.bold {
  font-weight: bold;
}
.blue {
  color: $mainBlue;
}
.red {
  color: $mainRed;
}
.strikethrough {
  text-decoration: line-through;
}
