@import './styles/common.scss';
.wrapper {
  display: flex;
  flex-direction: column;
  //   justify-content: center;
  align-items: center;
}

.main {
  display: flex;
  h1 {
    font-weight: 400;
    word-spacing: 1px;
    // line-height: 2rem;
  }
}
.bold {
  font-weight: bold;
}
.blue {
  color: $mainBlue;
}
.red {
  color: $mainRed;
}
.strikethrough {
  text-decoration: line-through;
}
