@import '../../styles/common';
.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  // align-items: center;
}

.main {
  max-width: 1000px;
  width: 100%;
  font-size: 20px;
  padding: 20px;
  h2 {
    font-size: 1.8rem;
    color: $mainRed;
    margin: 1rem 0;
  }
  pre {
    code {
      border-radius: 5px;
      background: #282c34;
      overflow: auto;
    }
  }
  code {
    border-radius: 2px;
    background-color: $mainBlue;
    padding: 0 0.2rem;
  }
  h2,
  h3,
  h4,
  h5,
  h6 {
    a {
      text-decoration: none;
    }
  }
  a {
    text-decoration: underline;
  }
}
