@import '../../styles/mixins.scss';
.wrapper {
  margin: 40px 0px;
  @include media-query-480 {
    margin: 20px 0px;
  }
}

.list {
  display: flex;
  align-items: center;
  justify-content: center;
}
